<a href="https://colab.research.google.com/github/kimyeoju/PythonCodingPractice/blob/main/%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C!.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01. 파이썬 시작하기

In [ ]:
# 001 print 기초
print('Hello world')

Hello world

In [ ]:
# 002 print 기초
print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
# 003 print 기초
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [ ]:
# 004 print 기초
print('"C:/Windows"')

"C:/Windows"

In [ ]:
# 005 Print 탭과 줄바꿈
print('안녕하세요.\n만나서\t\t반갑습니다.')

안녕하세요.
만나서		반갑습니다.

In [ ]:
# 006 print 여러 데이터 출력
print('오늘은','일요일')

오늘은 일요일

In [ ]:
# 007 print 기초
print('naver','kakao','sk','samsung',sep=';')

naver;kakao;sk;samsung

In [ ]:
# 008 print 기초
print('naver','kakao','sk','samsung',sep='/')

naver/kakao/sk/samsung

In [ ]:
# 009 print 줄바꿈
print('first',end="");print('second')
# end는 이어 붙이기

firstsecond

In [ ]:
# 010 연산 결과 출력
print(5/3)

1.6666666666666667

# 02. 파이썬 변수

In [ ]:
# 011 변수 사용하기
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [ ]:
# 012 변수 사용하기
시가총액 = 2980000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
# 013 문자열 출력
s = 'hello'
t = 'python'
print(s,t, sep='!')

hello!python

In [ ]:
# 014 파이썬을 이용한 값 계산
print(2 + 2 * 3) # 곱하기가 먼저

8

In [ ]:
# 015 type 함수
a = 128
print(type(a))

a = '132'
print(type(a))

<class 'int'>
<class 'str'>

In [ ]:
# 016 문자열을 정수로 변환
num_str = '720'
print(int(num_str))

720

In [ ]:
# 017 정수를 문자열 100으로 변환
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [ ]:
# 018 문자열을 실수로 변환
a = '15.79'
b = float(a)
print(b,type(b))

15.79 <class 'float'>

In [ ]:
# 019 문자열을 정수로 변환
year = '2020'
data = int(year)
print(data+1)
print(data+2)
print(data+3)

2021
2022
2023

In [ ]:
# 020 파이썬 계산
month = 48584
date = 36
total = print(month*date)

1749024

# 03. 파이썬 문자열

## Str 문자열
- 시퀀스 자료형 (문자열, 리스트, 튜플) 딕셔너리,set은 시퀀스 자료형이 아님 x
- 인덱싱, 슬라이싱 [start:stop:step]
- str은 immutable 변경이 불가능한 객체 -> replace를 할 때 변수를 새롭게 바인딩 해야함
- 참고로 str은 append를 쓸 수 없음

## 자주 쓰이는 method
- lower() / upper()
- find() 오류 출력 x -1로 반환 / index() 오류 출력 o
- count()
- strip() / rstip() / lstrip()
- replace()
- split() / join() -> '\n'.join(변수)
- isalnum() / isdigit() / isalpha() / isascii()
- rjust() / ljust() / center() 정렬
- zfill(데이터의 빈공간을 0으로 채워줌)
- translate()

In [ ]:
# 021 문자열 인덱싱
letters = 'python'
print(letters[0], letters[2])

p t

In [ ]:
# 022 문자열 슬라이싱
license_plate = '24가 2210'
print(license_plate[4:])

2210

In [ ]:
# 023 문자열 인덱싱
string = '홀짝홀짝홀짝'
print(string[0::2])

홀홀홀

In [ ]:
# 024 문자열 슬라이싱
string = "PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
# 025 문자열 치환
phone_number = '010-1111-2222'
phone_number.replace('-',' ')

'010 1111 2222'

In [ ]:
# 026 문자열 다루기
phone_number = '010-1111-2222'
phone_number.replace('-','')

'01011112222'

In [ ]:
# 027 문자열 다루기
url = "http://sharebook.kr"
a = url.split('.')
a[1]

'kr'

In [ ]:
# 028 문자열은 immnutable
lang = 'python'
lang[0] = 'P'
print(lang)
# 문자열은 수정할 수 없다.
# 여기서 복습 !!
# immutable은 str(문자열), tuple(튜플), dict key만(딕셔너리), boolean, 숫자형
# 결론적으로는 숫자형, 문자열, 튜플, boolean들은 전부 변경할 수 없는 타입들이며
# 얘네들을 변경하고 싶으면 새로운 주소값을 받아다가 다시 할당해야 합니다!
# string= string.replace('a','A')은 string이라는 변수를 새로 정의해주었기 때문에 값이 변한 것 입니다 🙂

TypeError: ignored

In [ ]:
# 029 replace 메서드
string = 'abcdfe2a354a32a'
String = string.replace('a','A')
print(String)
# immutable을 변경하고 싶을 땐 새로운 주소값을 받아다가 다시 할당해야 한다.
# 고로 String이라는 새로운 변수를 만들어주어서 replace 메서드를 이용함

Abcdfe2A354A32A

In [ ]:
# 030 replace 메서드
string = 'abcd'
string.replace('b','B')
print(string) # --> 결과는 abcd

string = 'abcd'
String = string.replace('b','B')
print(String) # --> 새로운 변수로 할당해주니 제대로 출력이 된다.

abcd
aBcd

In [ ]:
# 031 문자열 합치기
a = '3'
b = '4'
print(a+b)

34

In [ ]:
# 032 문자열 곱하기
print('Hi'*3)

HiHiHi

In [ ]:
# 033 문자열 곱하기
print('-'*80)

--------------------------------------------------------------------------------

In [ ]:
# 034 문자열 곱하기
t1 = 'python'
t2 = 'java'
print((t1 +' '+ t2 +' ')*3)

python java python java python java

In [ ]:
# 035 문자열 출력
# f string
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# 036 문자열 출력
# format
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13
print('이름: {} 나이: {}'.format(name1,age1))
print('이름: {} 나이: {}'.format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# 037 문자열 출력
# formatting
# %s는 str %d는 정수
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13
print('이름: %s 나이: %d'%(name1,age1))
print('이름: %s 나이: %d'%(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# 038 컴마 제거하기
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(',','')
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [ ]:
# 039 문자열 슬라이싱
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [ ]:
# 040 strip 메서드
data = '        삼성전자        '
data1 = data.strip()
data1

#  원본 문자열은 그대로 유지 공백이 제거된 새로운 문자열 반환

'삼성전자'

In [ ]:
# 041 upper 메서드
ticker = 'btc_krw'
ticker2 = ticker.upper()
print(ticker2)
# 원본 문자열은 유지되고 대문자로 변경된 새로운 문자열 객체가 반환

'BTC_KRW'

In [ ]:
# 042 lower 메서드
ticker = "BTC_KRW"
ticker2 = ticker.lower()
print(ticker2)

btc_krw

In [ ]:
# 043 capitalize 메서드
a = 'hello'
a = a.capitalize()
a

'Hello'

In [ ]:
# 044 endswith 메서드
# endswith - 문자열이 지정 문자열로 끝나는지 확인
file_name = "보고서.xlsx"
file_name = file_name.endswith('xlsx')
file_name

True

In [ ]:
# 045 endswith 메서드
file_name = "보고서.xlsx"
file_name = file_name.endswith(('xlsx','xls'))
file_name

True

In [ ]:
# 046 startswith 메서드
# startswith - 문자열이 지정 문자열로 시작하는지 확인
file_name = '2020_보고서.xlsx'
file_name.startswith('2020')

True

In [ ]:
# 047 split 메서드
a = 'hello world'
a.split(' ')

['hello', 'world']

In [ ]:
# 048 split 메서드
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [ ]:
# 049 split 메서드
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [ ]:
# 050 rstrip 메서드
data = "039490     "
data.rstrip()

# rstript() 오른쪽공백
# lstript() 왼쪽공백
# strip() 양쪽공백

'039490'

# 04. 파이썬 리스트

## List(리스트) // mutable
- 순서를 가진 데이터들의 집합(시퀀스)
- 값 변경 가능
- 리스트 안에 리스트로 다차원의 리스트 가능
- 리스트 안에 다른 object(딕셔너리,셋,튜플) 넣는 것 가능
- 중복 허락(set 자료형은 불가능)
- 인덱스를 사용하여 인덱싱과 슬라이싱을 사용
- 컨벤션 자료형(딕셔너리, 튜플, 셋, 리스트)에서는 메모리 효율을 위해 같은 값이 있을 경우 같은 곳을 가리키게 설계

- index() -> 인덱스
- indexing[0] -> 인덱싱으로 값을 찾아올 수 있음
- index[0]=1000 -> 인덱스로 접근하여 값 변경
- slicing[1:]

## 자주 쓰이는 method
!! 헷갈리는 것 ('요소'들이 들어감)
!! 만약 '글자'면 remove('글자')
!! 만약 숫자면 remove(1)
- append() 1 개 추가
- extend() 여러 개 추가
- copy()
- count()
- clear()
- index()
- insert()
- pop()
- remove()
- reverse()
원본을 만짐, return none
- reversed() built in function
원본을 만지지 않음, return 역순
- sort()
원본을 만짐, return none
- sorted() built in function
원본을 만지지 않음, return 정렬

## 내장함수 list, tuple, 문자열(iterable 반복가능한객체)
- min(), max(), sum()

### lambda 사용법 주의!

- '20' 중복을 없애라 [10,20,30,40,50,20,20,20]
list(filter(lambda x:x!=20,[10,20,30,40,50,20,20,20]))
 - filter(lambda x:x)

- a = [[1,2,3],[11,22,23],[10,2000,30]]
print(max(a, key=lambda x:x[1]))
 - max(a, key=lambda x:x)

In [ ]:
# sort() vs sorted()
l = [1,5,4,2,8,5,10,9,2,3]
l.sort(reverse=True) # 내림차순
l

[10, 9, 8, 5, 5, 4, 3, 2, 2, 1]

In [ ]:
# sort() vs sorted()
l = [1,5,4,2,8,5,10,9,2,3]
l.sort(reverse=False) # 오름차순
l

[1, 2, 2, 3, 4, 5, 5, 8, 9, 10]

In [ ]:
print(sorted([1,5,4,2,8,5,10,9,2,3]))

[1, 2, 2, 3, 4, 5, 5, 8, 9, 10]

In [ ]:
# index 메서드 예시
a = [10, 1, 1, 11, 2, 2, 3, 12]
a.index(11) # 3
a[a.index(10)] # 10
a[:a.index(2)] # [10,1,1,11]

[10, 1, 1, 11]

In [ ]:
# '20' 중복을 없애라 [10,20,30,40,50,20,20,20]
list(filter(lambda x:x!=20,[10,20,30,40,50,20,20,20]))

[10, 30, 40, 50]

In [ ]:
a = [10,20,30,40,50,20,20,20]
list(filter(lambda x: x!=20,a))

[10, 30, 40, 50]

In [ ]:
# 리스트 메서드 20 중복 없애는 것
a = [10,20,30,40,50,20,20,20]
b = []
for i in a:
    if i not in b:
        b.append(i)
print(b)

[10, 20, 30, 40, 50]

In [ ]:
def f(x):
    return x!=20
list(filter(f,[10,20,30,40,50,20,20,20]))

[10, 30, 40, 50]

In [ ]:
# 다차원 리스트
# [2] 1차원 리스트(vector)
# [[2]] 2차원 리스트(Matrix)
# [[[2]]] 3차원 리스트(Tensor)

In [ ]:
a = [[1,2,3],[11,22,23],[10,2000,30]]
max(a)
# 주의! 대괄호 안에 있는 첫번째 값을 기준으로 출력
# 1, 11, 10 중에 제일 큰 것은 11이 들어있는 [11,22,23]

[11, 22, 23]

In [ ]:
a = [[1,2,3],[11,22,23],[10,2000,30]]
min(a)
# 주의! 대괄호 안에 있는 첫번째 값을 기준으로 출력
# 1, 11, 10 중에 제일 작은 것은 1이 들어있는 [1,2,3]

[1, 2, 3]

In [ ]:
a = [[1,2,3],[11,22,23],[10,2000,30]]
print(max(a, key=lambda x:x[1]))
# x[1] 첫번째 있는 값이 큰 값을 출력

[10, 2000, 30]

In [ ]:
a = [[1,2,3],[11,22,23],[10,2000,30]]
print(min(a, key=lambda x:x[1]))
# x[1] 첫번째 있는 값이 작은 값을 출력

[1, 2, 3]

In [ ]:
a = [[1,2,3,'a'],[11,22,33,'aaa'],[10,2000,30,'aa']]
print(max(a, key=lambda x:len(x[3])))

[11, 22, 33, 'aaa']

In [ ]:
# built in function lambda
a = [[1,2,3,'a'],[11,22,33,'aaa'],[10,2000,30,'aa']]
min(a, key=lambda x:len(x[3]))

# lambda 위의 lambda와 차이법 알아두기
a = [10,20,30,40,50,20,20,20]
list(filter(lambda x:x!=20,a))

[1, 2, 3, 'a']

In [ ]:
# list 요소별로 순회하기
a = [[1,2,3],[11,22,33],[13,20000,300000]]
for i in a:
    for j in i:
        print(j)

1
2
3
11
22
33
13
20000
300000

In [ ]:
list(range(0,101,2)) #짝수
list(range(1,101,2)) #홀수

In [ ]:
# list comprehenstion
# append를 사용하지 않고 빠르게 리스트를 만드는 방법
l = []
for i in range(10):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = [i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# for문
l = []
for i in range(1,101):
    if i % 3 ==0 or i % 5 ==0:
        l.append(i)
print(l)

# list comprehension
[i for i in range(1,101) if i%3 ==0 or i%5==0]

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100]

In [ ]:
# 구구단 for문
l = []
for i in range(2,10):
    for j in range(1,10):
        l.append(f'{i}x{j}={i*j}')
l

# list comprehension
[f'{i}x{j}={i*j}' for i in range(2,10) for j in range(1,10)]

In [ ]:
# 51 리스트 생성
movie_rank = ['닥터 스트레인지','스플릿','럭키']

In [ ]:
# 052 리스트에 원소 추가
movie_rank.append('베트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

In [ ]:
# 053
movie_rank.insert(1,'슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '베트맨']

In [ ]:
# 054
# 1)
# movie_rank.remove('럭키')
# movie_rank

# 2)
del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿']

In [ ]:
# 055 '스플릿'과 '베트맨'을 삭제하라
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [ ]:
# 056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
# 057
nums = [1, 2, 3, 4, 5, 6, 7]
print(f'max :', max(nums))
print(f'min :', min(nums))

max : 7
min : 1

In [ ]:
# 058
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [ ]:
# 059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

len(cook)

12

In [ ]:
# 060
# 평균을 구할 땐 sum 함수와 len(리스트)를 해주면 평균이 구해진다.
nums = [1, 2, 3, 4, 5]

print(sum(nums)/len(nums))

3.0

In [ ]:
# 061
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [ ]:
# 062 홀수만 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[0::2]

[1, 3, 5, 7, 9]

In [ ]:
# 063 짝수만 출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [ ]:
# 064 역방향 출력
nums = [1, 2, 3, 4, 5]
nums[::-1]
# ::-1 은 역방향
# :-1은 [1,2,3,4] 마지막에 '5'를 빼고 출력

[5, 4, 3, 2, 1]

In [ ]:
# 065
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [ ]:
# 066 join 메서드
# 떨어져 있는 리스트를 붙이는 역할
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
# 067 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
'/'.join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [ ]:
# 068 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
# 069 문자열 split 메서드
string = "삼성전자/LG전자/Naver"
interest = list(string.split('/'))
interest

['삼성전자', 'LG전자', 'Naver']

In [ ]:
# 069 문자열 split 메서드
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
interest

['삼성전자', 'LG전자', 'Naver']

In [ ]:
# 070 리스트 정렬
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data) # 원본을 만지지 않음
print(data2)

[1, 2, 3, 4, 5, 9, 10]

# 05. 파이썬 튜플

## 튜플(tuple)
- 튜플은 순서가 있는 시퀀스형 자료형
- 참조값은 변경이 불가능(immutable)
- 다른 자료형 입력할 수 있음, 튜플 안의 튜플로 다차원의 튜플을 만드는 것도 가능
- 값의 중복을 허락

## 튜플의 method
- 변경이 불가능하기 때문에 사용할 수 있는 메서드가 제한적
- count()
- index() 인덱싱, 슬라이싱 가능

In [ ]:
# 튜플의 method
t = (1,2,3,4,5,6)
t.count(1)
t.index(5)

4

In [ ]:
t = (10,20,30,40,50)
t[:3]

(10, 20, 30)

In [ ]:
# immutable 객체여서 에러
t = (10,20,30)
t[1] = 1000

In [ ]:
# but, list는 mutable 객체라 값 변경 가능
t = [10,20,30,40]
t[2] = 3000
t

[10, 20, 3000, 40]

In [ ]:
# 071
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [ ]:
# 072
movie_rank = ('닥터 스트레인지','스플릿','럭키')
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [ ]:
# 073
t = (1) # 이렇게 하면 int로 인식
print(type(t))

# 하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력해야만 한다.
t2 = (1,)
print(type(t2))

<class 'int'>
<class 'tuple'>

In [ ]:
# 074 다음 코들르 실행해보고 오류가 발생하는 원인을 설명
t = (1, 2, 3)
t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

# -> t는 immutable 객체라 원소(element)값을 변경할 수 없다.

In [ ]:
# 075
t = 1, 2, 3, 4
# 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작한다.

In [ ]:
# 076
t = ('a', 'b', 'c')
t[0] = 'A'
# 새로운 튜플을 만들고 t라는 변수를 업데이트 해야 한다. 기존의 튜플 ('a', 'b', 'c')은 자동으로 삭제됩니다.

t = ('A', 'b', 'c')

In [ ]:
# 077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
data

['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
# 078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
data

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
# 079 튜플 언팩킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
# 080 range 함수
data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 06. 파이썬 딕셔너리

## dict(딕셔너리)
- 딕셔너리는 순서가 없는 자료형
- 사전형은 Key와 value가 하나의 묶음으로 이루어진 자료체계
- 값의 변경 가능 하지만 key는 변경할 수 없다.
- 다른 자료형 입력 가능
- 키의 중복 허락하지 않는다. 값의 중복은 허락
- 인덱싱 가능

## 딕셔너리의 method
- keys()
- values()
- items()
- get()  // ex) key in 변수
- fromkeys()
- update() // update({})
- del 딕셔너리[key]

In [ ]:
d = {'one':'하나', 'two':'둘', 'three':'셋'}
d['two'] = 1000
d

{'one': '하나', 'two': 1000, 'three': '셋'}

In [ ]:
# 딕셔너리를 만드는 다양한 방법
dict([('one','하나'),('two','둘')])
dict(name='kimyeoju', age='10')

{'name': 'kimyeoju', 'age': '10'}

In [ ]:
# zip을 사용
list(zip('ABC','123','abc'))

[('A', '1', 'a'), ('B', '2', 'b'), ('C', '3', 'c')]

In [ ]:
dict(zip('ABC','123'))

{'A': '1', 'B': '2', 'C': '3'}

In [ ]:
dict(zip('ABC',[[10,20],[20,30],[30,40]]))

{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}

In [ ]:
# in연산자를 사용하여 key여부 알 수 있음
d = dict([('one','하나'),('two','둘')])
'하나' in d #false
'one' in d #true

True

In [ ]:
# 사전형에 값을 추가할 때 키 값을 []안에 넣고, 값을 할당
my_score = {
    'korean' : 90,
    'english' : 80,
    'match' : 100
}
my_score['science'] = 95
my_score

{'korean': 90, 'english': 80, 'match': 100, 'science': 95}

In [ ]:
# 삭제할 때
my_score = {
    'korean' : 90,
    'english' : 80,
    'match' : 100
}
del my_score['korean']
my_score

{'english': 80, 'match': 100}

In [ ]:
# 국어 성적을 알고 싶은 경우
my_score = {
    'korean' : 90,
    'english' : 80,
    'match' : 100
}

my_score['korean']
my_score.get('korean') # get으로 값을 찾을 수 있다.

90

In [ ]:
# Key는 tuple로 사용 가능 왜냐하면 key는 immutable이기 때문에 tuple로 사용가능
map_check = {
    (1,3):10293,
    (1,2):39492,
    (1,1):49377,
    (1,4):12375
}
map_check[(1,3)]
map_check.get((1,4))

12375

In [ ]:
# 하지만? list는 mutable객체이기 때문에 불가능하다. key는 immutable
map_check = {
    [1,3]:10293,
    [1,2]:39492,
    [1,1]:49377,
    [1,4]:12375
}
# error

In [ ]:
# 딕셔너리의 Method
# 1. keys()
map_check = {
    (1,3):10293,
    (1,2):39492,
    (1,1):49377,
    (1,4):12375
}

map_check.keys()

dict_keys([(1, 3), (1, 2), (1, 1), (1, 4)])

In [ ]:
# 2. values()
map_check = {
    (1,3):10293,
    (1,2):39492,
    (1,1):49377,
    (1,4):12375
}
map_check.values()

dict_values([10293, 39492, 49377, 12375])

In [ ]:
# 3. items()
map_check = {
    (1,3):10293,
    (1,2):39492,
    (1,1):49377,
    (1,4):12375
}
map_check.items()

dict_items([((1, 3), 10293), ((1, 2), 39492), ((1, 1), 49377), ((1, 4), 12375)])

In [ ]:
# 자료 사전형에 원하는 key가 있는지 찾아볼 때 in 활용
map_check = {
    (1,3):10293,
    (1,2):39492,
    (1,1):49377,
    (1,4):12375
}

(1,3) in map_check # key in 변수
(1,4) in map_check

True

In [ ]:
# 4. get(key) # 값을 찾아줌
map_check = {
    (1,3):10293,
    (1,2):39492,
    (1,1):49377,
    (1,4):12375
}
map_check.get((1,1))

49377

In [ ]:
# 5. fromkeys() 시퀀스형 자료를 가지고 딕셔너리를 만들 때 fromkeys를 사용
keys = ('name','age', 'grade')
values = ('kimyeoju', '26', '수')
dict.fromkeys(keys,values)

{'name': ('kimyeoju', '26', '수'),
 'age': ('kimyeoju', '26', '수'),
 'grade': ('kimyeoju', '26', '수')}

In [ ]:
# 6. update() 업데이트 할 때 주의! update({})
d = {'one':'하나', 'two':'둘'}
d.update({'three':'셋'})
d

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
# 딕셔너리의 순회(key의값만)
# for문에서 딕셔너리를 순회하면 key의 값만 출력
d = {'two':2, 'three':'셋'}
for i in d:
    print(i)

two
three

In [ ]:
# 딕셔너리의 순회(value값만)
d = {'two':2, 'three':'셋'}
for i in d:
    print(d[i]) # value값만 출력

2
셋

In [ ]:
# 1) 딕셔너리의 순회(key,value값 둘 다)
d = {'two':2, 'three':'셋'}
for i in d:
    print(i,d[i])

two 2
three 셋

In [ ]:
# 2) 딕셔너리의 순회(key,value값 둘 다)
d = {'two':2, 'three':'셋'}
for i,j in d.items():
    print(i,j)

two 2
three 셋

In [ ]:
# 084 비어있는 딕셔너리
temp = {}
print(type(temp))

<class 'dict'>

In [ ]:
# 085
아이스크림 = {'메로나':1000, '폴라포':1200, '빵빠레':1800}
아이스크림

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
# 086 아이스크림 가격정보 추가
아이스크림['죠스바']=1200
아이스크림['월드콘']=1500
아이스크림

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 087 메로나 가격을 출력
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print(f'메로나 가격:', ice['메로나'])
print(f'메로나 가격:', ice.get('메로나'))

메로나 가격: 1000
메로나 가격: 1000

In [ ]:
# 088 메로나의 가격을 1300으로 수정
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나']=1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 089 메로나를 삭제해라
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 090 다음 코드에서 에러가 발생한 원인을 설명
icecream['누가바']
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'

# 딕셔너리에 없는 키를 사용해서 인덱싱하면 에러가 발생

In [ ]:
# 091 딕셔너리 생성
inventory = {'메로나':[300,20], '비비빅':[400,3], '죠스바':[250,100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
# 092 딕셔너리 인덱싱
# 딕셔너리에서 메로나의 가격을 화면에 출력
inventory = {"메로나": [300, 20],
             "비비빅": [400, 3],
             "죠스바": [250, 100]}

inventory['메로나'][0]
print(inventory.get('메로나')[0],'원')

300 원

In [ ]:
# 093 딕셔너리 인덱싱
inventory = {"메로나": [300, 20],
             "비비빅": [400, 3],
             "죠스바": [250, 100]}

print(inventory['메로나'][1],'개')
print(inventory.get('메로나')[1],'개')

20 개
20 개

In [ ]:
# 094 딕셔너리 추가
inventory = {"메로나": [300, 20],
             "비비빅": [400, 3],
             "죠스바": [250, 100]}

inventory['월드콘']=[500,7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
# 095 딕셔너리 keys() 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream.keys()

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

In [ ]:
# 096 딕셔너리 values() 메서드
icecream.values()

dict_values([1200, 1200, 1800, 1500, 1000])

In [ ]:
# 097 딕셔너리 values() 메서드 -> 아이스크림의 총합
sum(icecream.values())

6700

In [ ]:
# 098 딕셔너리 update 메서드
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [ ]:
# 098 딕셔너리 update 메서드 2
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream.update({'허쉬초코':2500,'거북이':1000})
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '허쉬초코': 2500,
 '거북이': 1000}

In [ ]:
# 099 zip과 dict
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys,vals))
result

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
# 100 zip과 dict
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date,close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

# Set (집합)

## Set(집합)
- 집합 자료형은 중복을 허용하지 않으며 순서가 없는 자료형

## Set의 method
- add() 1개 추가
- update() 여러개 추가
- remove() -> 오류 출력 o
- discard() -> 오류 출력 x
- intersection() 교집합
- union() 합집합
- difference() 차집합
- issubset()
- isdisjoint()
- symmetric_difference_update()
- ps. 참고로 set에서는 pop을 사용하지 않음 값을 랜덤으로 뽑기 때문에

In [ ]:
n = set([1,1,2,2,3,3,4])
print(n)

{1, 2, 3, 4}

In [ ]:
n = set([1,1,2,2,3,3,4])
n.update({1000}) # 주의! update({})할 때 대괄호 중괄호 주의하기
n

{1, 2, 3, 4, 1000}

In [ ]:
n = set([1,1,2,2,3,3,4])
n.update({10,20}) # 주의! update({})할 때 대괄호 중괄호 주의하기
n

{1, 2, 3, 4, 10, 20}

In [ ]:
# add (1개 추가)
menu = set(['americano','cafe latte'])
menu.add('ice coffee')
menu

{'americano', 'cafe latte', 'ice coffee'}

In [ ]:
# update (여러개 추가)
menu = set(['americano','cafe latte'])
menu.update({'espresso','ice tea','green tea'})
menu
# 순서가 바뀌는 이유는 set은 순서가 없는 자료형이기 때문

{'americano', 'cafe latte', 'espresso', 'green tea', 'ice tea'}

In [ ]:
# remove() 오류출력 o
# menu = (['americano', 'espresso'])
# menu.remove('espresso')
# menu

menu = (['americano', 'espresso'])
menu.remove('green tea')
menu

ValueError: ignored

In [ ]:
menu = (['americano', 'espresso'])
del menu[0]
menu

['espresso']

In [ ]:
# discard() 오류출력 x
# s = {2,3,4,5,6}
# s.discard(2)
# s

s = {2,3,4,5,6}
s.discard(1) # 1이 없는데도 오류를 발생시키지 않음
s

{2, 3, 4, 5, 6}

In [ ]:
# discard 오류를 발생시키지 않음
menu = set(['americano', 'espresso'])
menu.discard('milk tea')
menu

{'americano', 'espresso'}

In [ ]:
# 교집합 & , intersection()
a = {1,2,3}
b = {3,4,5}
print(a & b)
print(a.intersection(b))

{3}
{3}

In [ ]:
# 합집합 | , union()
a = {1,2,3}
b = {3,4,5}
print(a|b)
print(a.union(b))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
# 차집합 - , difference()
a = {1,2,3}
b = {3,4,5}
print(a-b)
print(a.difference(b))

{1, 2}
{1, 2}

In [ ]:
# 대칭차집합 ^ , symmetric.difference()
# 두 개의 집합이 있을 때 공통된 부분을 제외한 나머지 부분을 '대칭차집합'이라고 한다.
# ^ 또는 symmetric_difference 함수 사용
s = {1,2,3,4}
ss = {3,4,5,6}
print(s^ss)
print(set.symmetric_difference(s,ss))

{1, 2, 5, 6}
{1, 2, 5, 6}

In [ ]:
# issubset() 함수
# 새로운 값에 원래의 값이 속하는지 확인하고 싶을 때
s = {1,2,3,4}
print(s.issubset({1,2}))
print(s.issubset({1,2,3,4,5,6})) # s에 있는 요소들이 다 들어가야함

False
True

In [ ]:
# isdisjoint() 함수
# 데이터가 서로 겹치는 부분이 있는지 확인하고 싶을 때
s = {1,2,3,4}
ss = {3,4,5,6}
s.isdisjoint(ss) # {3,4}가 겹치니까 False가 출력

# 겹치는 부분이 있으면 'False'
# 겹치는 부분이 없으면 'True'

False

In [ ]:
# symmetric_difference_update
# 지금 set과 비교 할 다른 set 중에서 겹치지 않는 요소만 출력하고 싶을 때
s = {1,2,3}
ss = {3,4,5}
s.symmetric_difference_update(ss)
s
# 겹치는 요소 {3} 말고 {1,2,4,5}가 출력

{1, 2, 4, 5}

# built-in-function (내장함수)
- abs()
- all()
- any()
- chr()
- dir()
- divmod()
- enumerate() 순서가 있는 데이터(리스트,튜플,문자열만)
- eval()
- filter(함수, 리스트(반복가능한데이터))
- hex() 정수를 입력받아 16진수 문자열로 반환
- id()
- input()
- int()
- isinstance() -> boolean으로 반환
- len()
- list()
- map(f,iterable) 함수(f)와 반복 가능한 데이터를 입력
- max(iterable)
- min(iterable)
- oct() 정수를 8진수 문자열로 바꾸어 리턴
- open(filename, [mode])
  - '파일이름'과 읽기 방법'을 입력받아 파일 객체를 리턴 하는 함수
- ord() 문자의 유니코드 숫자 값을 리턴
- pow(x,y) x를 y제곱한 결괏값 리턴
- range()
- round()
- sorted(iterable)
- str()
- sum(iterable)
- tuple(iterable)
- type()
- zip(iterable) -> 반복 가능한 데이터를 여러 개 입력할 수 있음

In [ ]:
# all
# all(x)는 반복 가능한 데이터 x를 입력값으로 받으며 이 x의 요소가 모두 참이면 True, 거짓이 하나라도 있으면 False
all([1, 2, 3])
True

all([1, 2, 3, 0])
False

In [ ]:
# any
# any(x)는 반복 가능한 데이터 x를 입력으로 받아 x의 요소 중 하나라도 참이 있으면 True 모두 거짓일 때 False
any([1, 2, 3, 0])
True

any([0, ""])
False

any([])
False

True

In [ ]:
# divmod(a,b)는 2개의 숫자 a,b를 입력 받음 a를 b로 나눈 몫과 나머지를 튜플로 리턴
divmod(7, 3)
(2, 1)

In [ ]:
# map
def two_times(x):
    return x*2

list(map(two_times, [1, 2, 3, 4]))
[2, 4, 6, 8]

[2, 4, 6, 8]

In [ ]:
# map
list(map(lambda a: a*2, [1, 2, 3, 4]))
[2, 4, 6, 8]

In [ ]:
# map 이랑 filter만
# -> lambda x:x, 리스트
# max, sorted, min, reversed 등
# -> max(l, key=lambda x: d[x])
# -> max(l, key=l.get)
# -> sorted(l, key=lambda x:x)
# filter
list(filter(lambda x:x!=20, [10,20,30,40,20,20,20]))

list(filter(lambda x: x > 90, range(100)))

def 제곱(x):
    return x**2
list(map(제곱,[1,2,3,4]))

list(map(lambda x:x**2, [1,2,3,4]))

[1, 4, 9, 16]

In [ ]:
# max
max([1, 2, 3])
3
max("python")
'y'

# 07. 파이썬 분기문

## 조건문(if)
- if문은 조건에 합당하다면 들여쓰기 되어 있는 곳까지 code를 실행시키는 구문

- if '',{},[]는 모두 false

## if 문의 기본구조
- if 조건문:
  수행 할 문장1
  수행 할 문장2

## if, else
- if 조건문: -> 조건 '참' if 실행
  수행 할 문장1
  수행 할 문장2
  else: -> 조건 '거짓' else 실행
    수행 할 문장3
    수행 할 문장4

## if, elif, else
- 여러개의 조건을 한꺼번에 검사 할 경우에는 elif를 사용 elif는 여러개 사용가능

- if 조건문: -> 조건문을 확인해서 '참'이면 실행

수행할문장1
수행할문장2

- elif: -> if문의 조건이 '참'이 아니라면 elif문을 확인하고 elif문이 참이라면 수행

수행할문장1
수행할문장2

- else: -> if문과 elif문이 거짓이라면 else 실행

수행할문장1
수행할문장2

In [ ]:
if True:
    print('hello')
print('one')

hello
one

In [ ]:
if False:
    print('world')
print('two')

two

In [ ]:
def f():
    return False
    if f():
        print('hello')
        print('one')
print('two')

two

In [ ]:
# if가 true일 때
if ' ':
    print('hello')
    print('one')
print('two')

hello
one
two

In [ ]:
# if가 false일 때
if '':
    print('hello')
    print('one')
print('two')

two

In [ ]:
# if가 True일 때
if not '': # not '' 이니까 True
    print('hello')
print('end')

if not None:
    print('hello')
print('end')

hello
end
hello
end

In [ ]:
# if가 false일 때
if None:
    print('hello')
print('end')

end

In [ ]:
# if문의 기본구조
if 10 > 11:
    print('one')
    print('two')
else:
    print('three')

three

In [ ]:
def f():
    if 10 > 11:
        return 'one'
    return 'two'
print(f())

two

In [ ]:
x = 10
if x > 5:
    if type(x) == int:
        print('one')

one

In [ ]:
x = 10
if x > 5 and type(x) == int:
    print('one')

one

In [ ]:
# if, elif, else
if True: # True가 참이면 elif, else를 반환하지 않고 if 조건문 'hello'하나만 출력
    print('hello')
elif True:
    print('hello')
else:
    print('hello')

hello

In [ ]:
# if 심화
# 코드를 한 줄로 쓰기 가능 하지만 가독성이 좋지 않음
x = 10
if x > 5: print('hello')
elif x < 1: print('world')

hello

In [ ]:
# 3항 연산자
# 처음에 true일 때 나오는 값을 적고, if 조건문을 적고, else를 적음
x = 10
'hello' if x > 5 else 'world'

'hello'

In [ ]:
# 3항 연산자
x = 5
'one' if x < 1 else 'two'

'two'

In [ ]:
# 3항 연산자
y = 100
x = 'one' if y > 100 else None

In [ ]:
# 3항 연산자
def f(y):
    return 'one' if y > 80 else None
f(100) # one
f(30) # None

In [ ]:
# 101
# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?
# answer: boolean

In [ ]:
# 102
print(3 == 5)
# False

False

In [ ]:
# 103
print(3 < 5)
# True

True

In [ ]:
# 104
x = 4
print(1 < x < 5)
# True

True

In [ ]:
# 105
print ((3 == 3) and (4 != 3))
# True

True

In [ ]:
# 106
print(3 => 4)
# 지원하지 않는 연산자

In [ ]:
# 107
if 4 < 3:
    print("Hello World")
# False이기 때문에 출력이 되지 않음

In [ ]:
# 108
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [ ]:
# 109
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [ ]:
# 110
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [ ]:
# 111
user_input = input('입력:')
print(user_input*2)

입력:안녕하세요
안녕하세요안녕하세요

In [ ]:
# 112
user_input = int(input())
print(user_input+10)

30
40

In [ ]:
# 113
# 여기서 주의할 것은 input은 원래 문자열로 되어 있음
user_input = int(input())
if user_input % 2 ==0:
    print('짝수')
else:
    print('홀수')

30
짝수

In [ ]:
# 114
user_input = int(input())
a = user_input + 20
if a > 255:
    print(255)
else:
    print(a)

# user = input('입력값:')
# num = 20 + int(user)
# if num > 255:
#     print(255)
# else:
#     print(num)

220

In [ ]:
# 115
user_input = int(input())
data = user_input - 20
if data > 255:
    print(255)
elif data < 0:
    print(0)
else:
    print(data)

15
0

In [ ]:
# 116
user_input = input()
if user_input[-2:] == '00':
    print('정각 입니다.')
else:
    print('정각이 아닙니다')

2:00
정각 입니다.

In [ ]:
# 117
fruit = ["사과", "포도", "홍시"]
user_input = input()
if user_input in fruit: # in 리스트!
    print('정답입니다.')
else:
    print('오답입니다.')

포도
정답입니다.

In [ ]:
# 118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user_input = input()
if user_input in warn_investment_list:
    print('투자 경고 종목입니다.')
else:
    print('투자 경고 종목이 아닙니다.')

wenic
투자 경고 종목이 아닙니다.

In [ ]:
# 119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user_input = input()
if user_input in fruit.keys():
    print('정답입니다.')
else:
    print('오답입니다.')

토마토
오답입니다.

In [ ]:
# 120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user_input = input()
if user_input in fruit.values():
    print('정답입니다.')
else:
    print('오답입니다.')

봄
오답입니다.

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
'봄' in fruit
'딸기' in fruit # in은 참고로 key만 찾을 수 있음

False

In [ ]:
# 121
user_input = input()
if user_input.islower():
    print(user_input.upper())
else:
    print(user_input.lower())

A
a

In [ ]:
# 122
user_input = int(input('score:'))
if user_input >= 81:
    print('A')
elif user_input >= 61:
    print('B')
elif user_input >= 41:
    print('C')
elif user_input >= 21:
    print('D')
else:
    print('E')

score:83
A

In [ ]:
# 123
환율 = {"달러": 1167,
        "엔": 1.096,
        "유로": 1268,
        "위안": 171}
user_input = input()
num, currency = user_input.split()
print(float(num)*환율[currency],'원')

In [ ]:
# 124 가장 큰 숫자를 출력하랏
user_input1 = int(input())
user_input2 = int(input())
user_input3 = int(input())

if user_input1 >= user_input2 and user_input1 >= user_input3:
    print(user_input1)
elif user_input2 >= user_input1 and user_input2 >= user_input3:
    print(user_input2)
else:
    print(user_input3)

50
10
5
50

In [ ]:
# 125
user_input = input()
if user_input[0:3] == '011':
    print('당신은 SKT 사용자입니다.')
elif user_input[0:3] == '016':
    print('당신은 KT 사용자입니다.')
elif user_input[0:3] == '019':
    print('당신은 LGU 사용자입니다.')
else:
    print('알수없습니다.')

011-345-1922
당신은 SKT 사용자입니다.

In [ ]:
# 125 2번째 풀이
number = input('휴대전화 번호 입력:')
num = number.split('-')[0]
if num == '011':
    com = 'SKT'
elif num == '016':
    com = 'KT'
elif num == '019':
    com = 'LGU'
else:
    com = '알수없음'
print(f'당신은 {com} 사용자입니다.')

휴대전화 번호 입력:011-11
당신은 SKT 사용자입니다.

In [ ]:
# 126
user_input = input()
우편번호 = user_input[:3]
if 우편번호 in ['010','011','012']:
    print('강북구')
elif 우편번호 in ['013','014','015']:
    print('도봉구')
else:
    print('노원구')

018
노원구

In [ ]:
# 127
user_input = input()
if user_input[7] in ['1','3']:
    print('남자')
else:
    print('여자')

222222-11
남자

In [ ]:
# 127 다른 풀이
주민번호 = input('주민등록번호:')
주민번호 = 주민번호.split('-')[1]
if 주민번호[0] == '1' or 주민번호[0] == '3':
    print('남자')
else:
    print('여자')

주민등록번호:222222-1111111
남자

In [ ]:
# 128
주민번호 = input()
주민번호 = 주민번호.split('-')[1]
if 주민번호[-2] in ['00','01','02','03','04','05','06','07','08']:
    print('서울입니다.')
else:
    print('서울이 아닙니다.')

222222-2222219
서울이 아닙니다.

In [ ]:
# 128 다른 풀이
주민번호 = input('주민등록번호:')
뒷자리 = 주민번호.split('-')[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print('서울입니다.')
else:
    print('서울이 아닙니다.')

In [ ]:
# 130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
변동폭 = float(btc['max_price']) - float(btc['min_ㅇprice'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])
if (시가+변동폭) > 최고가:
    print('상승장')
else:
    print('하락장')

상승장

# 08. 파이썬 반복문

## for문(반복문)

- 반복문의 기본 형태
---
- for (변수명) in (순회가능한객체,리스트):
    - 여기서 '순회가능한객체'는 시퀀스자료형인 (문자열,리스트,튜플)
- 수행 할 문장1
- 수행 할 문장2
---

- 유용한 순회 가능한 객체
  - range(), enumerate(), zip(), map(), filter(), sorted(), reversed()

- range(start,stop,step) -> 마지막 요소가 종료값보다 한 단계적음

In [ ]:
# 딕셔너리 key와 value 같이 순회

data = {'사과':1000,'복숭아':2000}
# 1)
for i,j in data.items():
    print(i,j)

# 2)
for i in data:
    print(i,data[i])

사과 1000
복숭아 2000

- for, else
    - 'else'는 'if'뿐만 아니라 for문에서도 else를 사용할 수 있다. else는 루프가 정상 종료 되었을 때, 처음부터 자료형이 비어있었을 때 실행 break문을 만나면 else문을 실행하지 않고 빠져나옴

In [ ]:
for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [ ]:
# 반복문이 'break'를 쓰지 않고 정상 종료 되었을 때 else구문이 실행
for i in range(10):
    if i == 5:
        pass
    else:
        print('정상종료')

정상종료
정상종료
정상종료
정상종료
정상종료
정상종료
정상종료
정상종료
정상종료

In [ ]:
# break를 쓰면 else는 작동되지 않는다.
for i in range(10):
    print(i)
    if i == 5:
        break
    else:
        print('정상종료')

0
정상종료
1
정상종료
2
정상종료
3
정상종료
4
정상종료
5

In [ ]:
# 복습 # 3항 연산자
x = 10
'짝수' if x % 2 ==0 else '홀수'

'짝수'

In [ ]:
result = []
for i in range(10):
    result.append(i)
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# list comprehension
[i for i in range(10)]
[i for i in range(10) if i % 2 ==0]

[0, 2, 4, 6, 8]

In [ ]:
result = []
for i in range(10):
    if i % 2 ==0:
        result.append(i)
print(result)

[0, 2, 4, 6, 8]

In [ ]:
# 다중리스트 순회
skill = [('고기잡이',[1,100]),
         ('고기팔기',[1,100]),
         ('낚시',[2,100]),
         ('통발',[2,100]),
         ('큰그물',[2,100])]

for i,[x,y] in skill:
    print(i,x,y)

고기잡이 1 100
고기팔기 1 100
낚시 2 100
통발 2 100
큰그물 2 100

In [ ]:
# enumerate
# enumerate는 순서를 매길 때 사용
언어순위 = ['Python', 'JavaScript','Java','Django']
for i,j in enumerate(언어순위,1):
    print(i,j)

1 Python
2 JavaScript
3 Java
4 Django

### while구문
  - while문은 조건이 참인 동안에 명령을 반복해서 수행 반복 할 명령은 들여쓰기로 구분되며 조건이 거짓이면 들여쓰기로 구분되어있는 반복구문을 탈출
---
- while문의 구조
- while 조건문:
- 수행 할 문장 1
- 수행 할 문장 2
---

- 무한반복 while, break
 - while문의 조건을 부분에 bool형인 True가 오게 하면 반복문은 무한반복 되게 한다. 무한반복이 되면 프로그램 서비스가 죽기 때문에 break문으로 조건을 탈출하도록 설계해야한다.

- while, else

In [ ]:
# while
a = 1
while a < 10:
    print(a)
    a += 1
# a = 10이 되면 조건이 '거짓'이 되므로 루프를 탈출

1
2
3
4
5
6
7
8
9

In [ ]:
# 무한반복 while, break
숫자 = 0
while True:
    print('현재 숫자는', 숫자, '입니다.')
    숫자 += 1
    if 숫자 > 5:
        print('반복문을 종료합니다.')
        break

현재 숫자는 0 입니다.
현재 숫자는 1 입니다.
현재 숫자는 2 입니다.
현재 숫자는 3 입니다.
현재 숫자는 4 입니다.
현재 숫자는 5 입니다.
반복문을 종료합니다.

In [ ]:
# while, else
숫자 = 0
while 숫자 < 5:
    print('현재 숫자는', 숫자, '입니다')
    숫자 += 1
else:
    print('반복문을 종료합니다.')

현재 숫자는 0 입니다
현재 숫자는 1 입니다
현재 숫자는 2 입니다
현재 숫자는 3 입니다
현재 숫자는 4 입니다
반복문을 종료합니다.

In [ ]:
# while 특정요소
# 특정요소가 모두 없어질 때가지
l = [1,2,3]
while l:
    print(l.pop())

3
2
1

### break 구문
  - break 구문은 for or while문만 탈출

---
- while 조건:
- 반복 실행 할 코드
- if 조건:
- break
---
---
- for 변수 in 범위:
- 반복 실행 할 코드
- if 조건:
- break
---

In [ ]:
for i in range(2,10):
    for j in range(1,10):
        if j > 5:
            break
        print(f'{i}x{j}={i*j}')

### continue, pass구문
- continue문은 반복문이 실행하는 코드 블록의 나머지 부분을 실행하지 않고 다음 반복으로 건너가게 흐름을 조정

- pass문은 단순히 실행 할 코드가 없다는 것을 의미하며 아무런 동작을 하지 않고 다음 코드 실행

---
- while:
- 반복 실행 할 코드
- if 조건:
-     continue (while 다음 반복문 실행)
- 반복 실행 할 코드 (continue 사용시 무시되는 코드)
---

---
- for 변수 in 범위:
-    반복실행할코드
- if 조건:
-    countinue (for문 다음 반복문 실행)
- 반복실행할코드
---

- continue
  - if 조건문에 해당하는 것이 True면 continue를 실행시켜 if 조건문에 해당하는 True는 넘어가게 됨

- pass
  - 신경 안쓰고 다 출력

#### while ~ else
- 여기서 else는 if의 else '그렇지 않으면' 이라는 의미보다 '그런 다음'이라는 의미가 강함

---
- while조건:
-   반복실행할코드
- else:
- while 반복문이 모두 실행되어 종료되고 실행 할 코드
---

---
- for 변수 in 범위:
-     반복실행할코드
- else:
- for 반복문이 모두 실행되어 종료되고 실행 할 코드
---

In [ ]:
# break를 썼을 때와 안썼을 때의 차이
for i in range(5,0,-1):
    print('고등어',i,'개 남았습니다.')
else:
    print('고등어 팔렸습니다.') # for반복문이 모두 실행되고 else 실행

고등어 5 개 남았습니다.
고등어 4 개 남았습니다.
고등어 3 개 남았습니다.
고등어 2 개 남았습니다.
고등어 1 개 남았습니다.
고등어 팔렸습니다.

In [ ]:
for i in range(5,0,-1):
    print('고등어',i,'개 남았습니다.')
    if i == 1:
        break # break를 쓰면 else는 실행되지 않음
else:
    print('고등어 다 팔렸습니다.')

고등어 5 개 남았습니다.
고등어 4 개 남았습니다.
고등어 3 개 남았습니다.
고등어 2 개 남았습니다.
고등어 1 개 남았습니다.

In [ ]:
# 여기서 주의 !!
# IF - else는!?!?!?!?!!?!?!
# '그렇지 않으면' 이라는 의미로 조건이 거짓일 때 쓰임

# if 조건:
#     조건이 참일 경우 실행문
# else:
#     조건이 거짓일 경우 실행문

In [ ]:
i = 2
if i < 4:
    print('i는 4보다 작습니다.')
else:
    print('i는 4보다 큽니다.')

i는 4보다 작습니다.

### try except else

---
- try:
- 실행문
- except:
- 예외 발생시 처리문
- else:
- 예외 발생하지 않는 경우 실행문
---

In [ ]:
try:
    i = 1
    j = 1
    x = i/j
except:
    print('error')
else:
    print(x) # 예외가 발생하지 않는 경우 실행문

1.0

In [ ]:
# 유용한 순회 가능 객체
def f(x):
    return x > 15
list(filter(f,[10,20,30,40]))

[20, 30, 40]

In [ ]:
# true인것만 반환
list(filter(None,[True,True,False,False]))

[True, True]

In [ ]:
list(filter(None,[[],'abc','',{}]))

['abc']

In [ ]:
# 131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
# 사과
# 귤
# 수박

사과
귤
수박

In [ ]:
# 132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [ ]:
# 133
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [ ]:
# 134
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [ ]:
# 134
# for문을 풀어서 동일한 동작을 하는 코드를 작성하라
변수 = "A"
print('출력:',변수)
변수 = "B"
print('출력:',변수)
변수 = "C"
print('출력:',변수)

출력: A
출력: B
출력: C

In [ ]:
# 135
for i in ['A','B','C']:
    a = i.lower()
    print('변환:',a)

변환: a
변환: b
변환: c

In [ ]:
# 136 다음 코드를 for문으로 작성하라
# 변수 = 10
# print(변수)
# 변수 = 20
# print(변수)
# 변수 = 30
# print(변수)

for i in [10,20,30]:
    print('변수:',i)

변수: 10
변수: 20
변수: 30

In [ ]:
# 137 다음 코드를 for문으로 작성하라.
# print(10)
# print(20)
# print(30)
for i in [10,20,30]:
    print(i)

10
20
30

In [ ]:
# 138 다음 코드를 for문으로 작성하라.
for i in [10,20,30]:
    print(i)
    print('-------')

10
-------
20
-------
30
-------

In [ ]:
# 139
print('++++')
for i in [10,20,30]:
    print(i)

++++
10
20
30

In [ ]:
# 140
for i in range(5):
    print('-------')

-------
-------
-------
-------
-------

In [ ]:
# 141
리스트 = [100, 200, 300]
for i in 리스트:
    print(i+10)

110
210
310

In [ ]:
# 142
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print('오늘의 메뉴:',i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [ ]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [ ]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i,len(i))

dog 3
cat 3
parrot 6

In [ ]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [ ]:
# 146
리스트 = [1,2,3]
for i in 리스트:
    print('3 X',i)

3 X 1
3 X 2
3 X 3

In [ ]:
# 147
리스트 = [1,2,3]
for i in 리스트:
    print('3 X',i,'=',3*i)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [ ]:
# 147
리스트 = [1,2,3]
for i in 리스트:
    print('3 x {} = {}'.format(i,3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
# 147
리스트 = [1,2,3]
for i in 리스트:
    print(f'3 x {i} = {3*i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
# 148
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [ ]:
# 149
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [ ]:
# 150
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [ ]:
# 151
리스트 = [3, -20, -3, 44]
for i in 리스트[1:3]:
    print(i)

-20
-3

In [ ]:
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [ ]:
# 152
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 ==0:
        print(i)

3

In [ ]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i % 3 == 0 and i < 20:
        print(i)

12
18

In [ ]:
# 154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [ ]:
# 155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [ ]:
# 156
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [ ]:
# 157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [ ]:
# 158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [ ]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.split('.')[1] == 'h':
        print(i)

intra.h
define.h

In [ ]:
# 160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.split('.')[1] == 'h' or i.split('.')[1] =='c':
        print(i)

intra.h
intra.c
define.h

In [ ]:
# 160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    split = i.split('.')
    if split[1] =='h' or split[1] =='c':
        print(i)

intra.h
intra.c
define.h

In [ ]:
# 161
for i in range(100):
    print(i)

In [ ]:
# 162
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
# 163
for i in range(1,31):
    if i % 3 ==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
for i in range(3,31,3):
        print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
# 164
result = []
for i in range(99,-1,-1):
    result.append(i)
print(result)

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# 164
for i in range(100):
    print(99 - i)

In [ ]:
# 165
for i in range(10):
    print('0.' + str(i))

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
# 165
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
# 166
for i in range(1,10):
    print(f'3 x',i,'=',3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
# 167
for i in range(1,10):
    if i % 2 != 0:
        print(f'3 x',i,'=',i*3)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [ ]:
# 168
count = 0 # count라는 변수에 0을 저장
for i in range(1,11):
    count += i # for문을 통해 모든 값에 대해 누적
print(count)

55

In [ ]:
# 169
count = 0
for i in range(1,11):
    if i % 2 ==1: # i%3 ==0 홀수가 아니야 ! 주의
        count += i
print(count)

25

In [ ]:
# 170
count = 1 # 곱하기니까 1부터 주의!
for i in range(1,11):
    count *= i
print(count)

3628800

In [ ]:
# 171
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
    print(i)

32100
32150
32000
32500

In [ ]:
# 172
price_list = [32100, 32150, 32000, 32500]
for i,j in enumerate(price_list):
    print(i,j)

0 32100
1 32150
2 32000
3 32500

In [ ]:
# 173
price_list = [32100, 32150, 32000, 32500]
for i,j in enumerate(price_list):
    print(3-i,j)

3 32100
2 32150
1 32000
0 32500

In [ ]:
# 174
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(90+i*10,price_list[i])

100 32150
110 32000
120 32500

In [ ]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(1, len(my_list)):
    print(my_list[i-1],my_list[i])

가 나
나 다
다 라

In [ ]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range(2, len(my_list)):
    print(my_list[i-2], my_list[i-1], my_list[i])

가 나 다
나 다 라
다 라 마

In [ ]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list) -1,0,-1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [ ]:
my_list = ["가", "나", "다", "라"]
for i in [3,2,1]:
    print(my_list[i],my_list[i-1])

라 다
다 나
나 가

In [ ]:
# 178
my_list = [100, 200, 400, 800]
for i in range(1, len(my_list)):
    print(my_list[i]-my_list[i-1])

100
200
400

In [ ]:
my_list = [100, 200, 400, 800]
for i in [1,2,3]:
    print(my_list[i]-my_list[i-1])

100
200
400

In [ ]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(2,len(my_list)):
    print(my_list[i-2] + my_list[i-1] + my_list[i] / 3 )

433.33333333333337
866.6666666666667
1533.3333333333333
2233.3333333333335

In [ ]:
for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)):
    difference = high_prices[i] - low_prices[i]
    volatility.append(difference)
print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
# 180 list comprehension
[high_prices[i]-low_prices[i] for i in range(len(low_prices))]

[50, 100, 30, 80, 0]

In [ ]:
result = []
count = 0
for i in range(1,21):
    count += i # 주의 count = count + i임
    result.append(count)
print(result)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210]

In [ ]:
# 181
apart = [['101호','102호'],['201호','202호'],['301호','302호']]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [ ]:
# 182
stock = [['시가', 100,200,300], ['종가',80,210,330]]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [ ]:
# 183
stock = {'시가':[100,200,300], '종가':[80,210,330]}
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [ ]:
# 184
stock = {'10/10':[80,110,70,90], '10/11':[210,230,190,200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [ ]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i:
        print(j, '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i[::-1]:
        print(j)

302
301
202
201
102
101

In [ ]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [ ]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [ ]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [ ]:
# 191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j * 1.00014) # 수수료 0.014%면 1.00014

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [ ]:
# 192
for i in data:
    for j in i:
        print(j * 1.00014)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [ ]:
# 193
result = []
for i in data:
    for j in i:
        s = j * 1.00014
        result.append(s)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
# 193
result = []
for i in data:
    for j in i:
        result.append(j*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
# 193 list comprehension
[j*1.00014 for i in data for j in i]

[2000.28,
 3050.427,
 2050.2870000000003,
 1980.2772,
 7501.05,
 2050.2870000000003,
 2050.2870000000003,
 1980.2772,
 15452.163,
 15052.107,
 15552.177,
 14902.086000000001]

In [ ]:
# 194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]


result = []
for i in data:
    sub = []
    for j in i:
        sub.append(j*1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [ ]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

a = []
for i in data:
    b = []
    for j in i:
        b.append(j*1.00014)
    a.append(b)
print(a)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [ ]:
# 195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [ ]:
# 196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] >= 150:
        print(i[3]) # i로만 출력해버리면 190, 310이 속해 있는 i 요소가 다 출력

190
310

In [ ]:
# 197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [ ]:
# 198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for i in ohlc[1:]:
    difference = i[1]-i[2]
    volatility.append(difference)
print(volatility)

[40, 30, 10]

In [ ]:
# range는 숫자이기 때문에 위의 코드랑 다르다는 것 주의

volatility = []
for i in range(1,len(ohlc)):
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]

In [ ]:
# 199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1] - i[2])

10

In [ ]:
# 200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
a = 0
for i in range(1,len(ohlc)):
    a += ohlc[i][3] - ohlc[i][0]
print(a,type(a))

0 <class 'int'>

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

s = 0
for i in ohlc[1:]:
    s += (i[3] - i[0])
print(s,type(s))

0 <class 'int'>

# 09. 파이썬 함수

In [ ]:
# 201
def print_coin():
    print('비트코인')

In [ ]:
# 202
print_coin()

비트코인

In [ ]:
# 203
for i in range(100):
    print_coin()

In [ ]:
# 204
# "비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의
def print_coins():
    for i in range(100):
        print('비트코인')

In [ ]:
# 205
# 아래의 에러가 발생하는 이유에 대해 설명
hello()
def hello():
    print("Hi")
# 함수가 정의되기 전에 호출되어서 에러가 발생

In [ ]:
# 206
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [ ]:
# 207
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [ ]:
# 208
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [ ]:
# 209
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [ ]:
# 210
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [ ]:
# 211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [ ]:
# 212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [ ]:
# 213
def 함수(문자열) :
    print(문자열)

함수() # error
# 함수에 정의와 다르게 함수를 호출하고 있다. 함수를 호출 할 때 하나의 파라미터를 입력해야함

TypeError: ignored

In [ ]:
# 214
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)

# 정의된 함수는 같은 타입의 두 개의 값을 입력받아 덧셈 연산을 적용하려는 의도로 설계
# 함수를 호출 할 때 문자열과 숫자를 입력해서 문자열과 숫자는 더할 수 없다는 에러

In [ ]:
# 215 ~ 216
def print_with_smile(str):
    print(str+':D')
print_with_smile('안녕하세요')

안녕하세요:D

In [ ]:
# 217
def print_upper_price(price):
    print(price * 1.3)
print_upper_price(10000)

13000.0

In [ ]:
# 218
def print_sum(a,b):
    print(a+b)
print_sum(3,5)

8

In [ ]:
# 219
def print_arithmetic_operation(a,b):
    print(a, '+', b, '=', a + b)
    print(a - b)
    print(a * b)
    print(a / b)
print_arithmetic_operation(3, 4)

3 + 4 = 7
-1
12
0.75

In [ ]:
# 220
def print_max(a,b,c):
    if a > b and a > c:
        print(a)
    elif b > a and b > c:
        print(b)
    else:
        print(c)

print_max(50,20,10)

50

In [ ]:
def print_max(a,b,c):
    print(max(a,b,c))
print_max(50,20,10)

50

In [ ]:
# 221
def print_reverse(str):
    print(str[::-1])

print_reverse('python')

nohtyp

In [ ]:
# 222
def print_score(score_list):
    print(sum(score_list)/len(score_list))
print_score([1,2,3])

2.0

In [ ]:
# 223
def print_even(even_list):
    for i in even_list:
        if i % 2 ==0:
            print(i)
print_even([1,3,2,10,12,11,15])

2
10
12

In [ ]:
# 223
def print_even(my_list):
    for i in my_list:
        if i % 2 ==0:
            print(i)
print_even([1,3,2,10,12,11,15])

2
10
12

In [ ]:
# 224
def print_keys(my_keys):
    for i in my_keys.keys(): # .keys()를 굳이 안써도 순수 for문은 key만 출력
        print(i)
print_keys({'이름':'김말똥','나이':30,'성별':0})

이름
나이
성별

In [ ]:
# 225 이해요망
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
def print_value_by_key(my_dict,key):
    print(my_dict[key])
print_value_by_key(my_dict,'10/26')

[100, 130, 100, 100]

In [ ]:
# 226
def print_5xn(string):
    chunk_num = int(len(string)/5)
    for i in range(chunk_num+1):
        print(string[i*5:i*5+5])

print_5xn('아이엠어보이유알어걸')

아이엠어보
이유알어걸

In [ ]:
# 226
def print_5xn(mystr):
    str_list = int(len(mystr)/ 5)
    for i in range(str_list):
        print(mystr[i*5:i*5+5])


print_5xn('아이엠어보이유알어걸')

아이엠어보
이유알어걸

In [ ]:
# 227
def printmxn(string,counting):
    str_list = round(int(len(string)/counting))
    for i in range(str_list):
        # i = 0,1,2
        print(string[i*3:counting*i*2])

printmxn("아이엠어보이유알어걸", 3)

어보이
유알어걸